*{
    padding: 0;
    margin: 0;
}
header{
    width: 100%;
    background-color: rgb(209, 52, 31);
    position: sticky;
    top: 0;
    z-index: 999;
}
.heading{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.logo img{
    width: 65px;
}
.head-bar ul{
    display: flex;
    list-style: none;
    margin-top: 25px;
    gap: 40px;
}
.head-bar ul li a{
    text-decoration: none;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    color: rgb(236, 227, 227);
}
.head-bar ul li a:hover{
    background-color: rgb(119, 114, 114);
    border-radius: 15px;
}
.background{
    background-image: url(../image/Backgound\ of\ website.jpg);
    height: 75vh;
    background-position: center;
}
section .body{
    width: 40%;
    position: relative;
    left: 100px;
    top: 140px;
}
.body h3{
    font-weight: bold;
    font-family: cursive;
    font-size: 42px;
    color: rgb(143, 18, 18);
    margin-bottom: 20px;
}
.body p{
    font-size: 16px;
    font-weight: bold;
    font-family: sans-serif;
    font-family: sans-serif;
    margin-bottom: 30px;
    color: rgb(61, 35, 35);
}
.body button{
    border-radius: 25px;
    border: solid 2px white;
    background: none;
    padding: 10px;
    width: 150px;
    color: brown;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}
.body button:hover{
    background-color: gray;
}
main .hero{
    width: 90%;
    margin: auto;
    margin-top: 70px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-around;
}
.left{
    width: 50%;
}
.left h3{
    font-size: 30px;
    font-family: "Moul", system-ui;
    margin-bottom: 20px;
    text-align: center;
}
.left p{
    font-family: sans-serif;
    font-size: 16px;
    text-align: justify;
    text-indent: 50px;
}
.right img{
    width: 400px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
section .Movie{
    margin-bottom: 250px;
}
section .Movie h3{
    margin-top: 50px;
    text-align: center;
    font-family: "Moul", system-ui;
    font-size: 30px;
    
}
.Movie, p{
    text-align: center;
    font-size: 16px;
    font-family: sans-serif;
    margin-bottom: 40px;
}
section .contain-box{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
}
.box1{
    width: 350px;
    height: 300px;
}
.box1 img{
    width: 250px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.box1 h4{
    margin-top: 15px;
    margin-bottom: 10px;
    font-family: cursive;
    font-size: 20px;
}
.box1 p{
    font-size: 13px;
    font-family: sans-serif;
    text-align: justify;
    text-indent: 25px;
    width: 75%;
    margin: auto;
}
.box2{
    width: 350px;
    height: 300px;
}
.box2 img{
    width: 250px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.box2 h4{
    margin-top: 15px;
    margin-bottom: 10px;
    font-family: cursive;
    font-size: 20px;
}
.box2 p{
    font-size: 13px;
    font-family: sans-serif;
    text-align: justify;
    text-indent: 25px;
    width: 75%;
    margin: auto;
}
.box3{
    width: 350px;
    height: 300px;
}
.box3 img{
    width: 250px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.box3 h4{
    margin-top: 15px;
    margin-bottom: 10px;
    font-family: cursive;
    font-size: 20px;
}
.box3 p{
    font-size: 13px;
    font-family: sans-serif;
    text-align: justify;
    text-indent: 25px;
    width: 75%;
    margin: auto;
}
.background-02{
    background-image: url(../image/Background\ 02.png);
    height: 80vh;
    background-position: center 470px;
    background-size: 100%;
    margin-bottom: 200px;
}
.body-02{
    text-align: center;
    color: white;
    position: relative;
    top: 150px;
}
.body-02 h3{
    font-family: cursive;
    font-size: 36px;
    margin-bottom: 25px;
}
.body-02 p{
    font-family: sans-serif;
    font-size: 16px;
    width: 50%;
    text-align: justify;
    text-indent: 25px;
    margin: auto;
    margin-bottom: 25px;
}
.body-02 button{
    width: 200px;
    padding: 10px;
    border-radius: 30px;
    border: none;
    background: teal;
    color: white;
    cursor: pointer;
}
.body-02 button:hover{
    background-color: red;
}